{% extends "_dashboard_page.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Change Password{% endblock %}

{% block inner_content %}
    <h1 class="text-2xl">Change Password</h1>

    <div class="max-w-sm mt-4">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {% crispy form %}
            <button type="submit" name="action" class="text-white hover:text-white-100 px-5 py-3 mt-8 max-w-xs rounded-lg flex justify-center shadow hover:shadow-lg transition duration-300 ease-in-out bg-blue-600 hover:bg-blue-700"
            >Change Password</button>
        </form>
    </div>
{% endblock inner_content %}
