{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="theme-color" content="#4285f4" />
        <title>{% block title %}Python File Checker{% endblock title %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <style>
    /* Hide scrollbar for Chrome, Safari, and Opera */
            .no-scrollbar::-webkit-scrollbar {
                display: none;
            }

            .no-scrollbar {
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */
            }
        </style>
        {% block content %}
        {% endblock content %}
    </body>
</html>
